* {
	/*reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*Start of CSS*/

body {
  background: #4B79A1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

html {
  scroll-behavior: smooth;
}

a:link {
  color: #19223A;
}

a:hover {
  color: #9DB4C0;
  
}

a:visited {
  color: #19223A;
}

ul {
    list-style-type: none;
    padding:0;
    position:fixed;
    z-index:1;
  
}

li a{
	display:block;
	width: 80px;
	padding: 5px;
  font-weight: bold;
	border: 1px solid	#E0FBFC;
	background-color: #9DB4C0;
	text-decoration: none !important;
	border-radius: 2px;
	margin-top: 10px;
  text-align: center;
 
}


li a:hover{
  background-color: #E0FBFC;
}
 

#mainpage{
   background-color: black	;
  padding: 0;
  
}
  
.nav{
  font-size: 20px;
}

#panelid{
  margin: 5px;
}

/*#about, #portfolio, #contact{
  margin: 5px 10px 5px 5px;
}*/

#mainpage{
  text-align: center;
  /*border: 10px solid violet;*/
}

p {
  text-align: justify;
}

#aboutpage{
  background-color: #E0FBFC;
  padding: 5px 0 20px 0;
  border-style:groove;
  /*border: 5px solid yellow;*/
  /*border-width: 1px;*/
}

#portfoliopage{
  background-color: #9DB4C0;
  padding: 5px 0 40px 0;
  border-style:groove;
  /*border: 5px solid green;*/
  /*border-width: 1px;*/
  font-family: monospace;
}

#contactpage{
  background-color:	#19223A;
  padding: 5px 0 50px 0;
  border-style:groove;
  /*border: 5px solid red;*/
  /*border-width: 1px;*/
  font-family: monospace;
}

.profileimage{
  border-radius: 50px;
  width: 150px;
}

.portfoliobox{
  margin:15px 5px 15px 5px;
}

#activityportfolio{
  background-color: #19223A;
  padding: 10px 0 10px 0;
  margin: 50px 0px 0px 0px;
}

#capstoneportfolio{
  background-color: #19223A;
  padding: 10px 0 10px 0;
  margin: 40px 0px 0 0px;
}

.portinfo{
  background-color: #C2DFE3;
  padding: 10px 5px 5px 5px;
  margin: 22px 0px 0px 0px;
  float:left;
}
  
#contactscreen {
  background-color:#9DB4C0;
  padding: 20px;
  margin: 0;
  border-radius: 3px;
}

#emailinfo {
  display:block;
  background-color: #;
  padding: 6px;
 
  border-radius: 10px;
  border-style:groove;
  border-color: 	#E0FBFC;
  margin-right: -15px;
  margin-left: 10px;
  margin-bottom:auto;
  
}

textarea { 
  height: auto; 
  font-size: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  margin-top: 5px;
}

input {
  font-size: 22px;
  width: 100%;
  
}

.coloredinfotext {
  display:block;
  font-size: 16px;
  color: 	#E0FBFC;
 margin:0px;
  padding: 20px;
  
  text-decoration: none !important;
  text-align: left;
 background-color: #E0FBFC;
  border-radius: 10px;
  margin: 5px 0 5px 0;
}
#emailinfo a:visited {
  color: #9DB4C0;
}

button:hover{
  background-color: #19223A;
  color:  #E0FBFC;
}

.submitemail {
  width: 100px;
    height:30px;
  font-size: 15px;
  float:right;
  
}

.coloredinfotext:hover {
  background-color:#19223A;
}

#img-caps1 {
  width: 100%;
  height: 325px;
}

#capstone-card {
  /*background-color: red;*/
  margin-top: 10px; 
  margin-bottom: 10px; 
}

































/*end of css decalarations*/


/* custom media queries */

/*Mobile Styles*/
@media only screen and (max-width: 400px) {
  ul {
    visibility: hidden;
  }
}

/*Tablet Styles*/

@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/*Desktop Styles*/

@media only screen and (min-width: 961px) {

}








/*grid system*/

/*large screen grid*/
.col-lg-1 {
  width: 8.33%; /* 100% / 12 */
}

.col-lg-2 {
  width: 16.66%; /* 100% / 12 times 2 columns */
}

.col-lg-3 {
  width: 25%; /* 100% / 12 times 3 */
}

.col-lg-4 {
  width: 33.33%; /* 100% / 12 times 4 */
}

.col-lg-5 {
  width: 41.66%; /*100% / 12 times 5*/
}

.col-lg-6 {
  width: 50%; /*100% / 12 times 6*/
}

.col-lg-7 {
  width: 58.33%; /*100% / 12 times 7*/
}

.col-lg-8 {
  width: 66.66%; /*100% / 12 times 8*/
}

.col-lg-9 {
  width: 75%; /*100% / 12 times 9*/
}

.col-lg-10 {
  width: 83.33%; /*100% / 12 times 10*/
}

.col-lg-11 {
  width: 91.66%; /*100% / 12 times 11*/
}

.col-lg-12 {
  width: 100%; /*100% / 12 times 12*/
}


/* tablet view */
@media only screen and (max-width: 768px) {
  .col-md-1 {
    width: 8.33%; 
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
  width: 25%; /* 100% / 12 times 3 */
  }

  .col-md-4 {
    width: 33.33%; /* 100% / 12 times 4 */
  }

  .col-md-5 {
    width: 41.66%; /*100% / 12 times 5*/
  }

  .col-md-6 {
    width: 50%; /*100% / 12 times 6*/
  }

  .col-md-7 {
    width: 58.33%; /*100% / 12 times 7*/
  }

  .col-md-8 {
    width: 66.66%; /*100% / 12 times 8*/
  }

  .col-md-9 {
    width: 75%; /*100% / 12 times 9*/
  }

  .col-md-10 {
    width: 83.33%; /*100% / 12 times 10*/
  }

  .col-md-11 {
    width: 91.66%; /*100% / 12 times 11*/
  }

  .col-md-12 {
    width: 100%; /*100% / 12 times 12*/
  }

}


/*mobile*/
@media only screen and (max-width: 450px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }

  .col-3 {
  width: 25%; /* 100% / 12 times 3 */
  }

  .col-4 {
    width: 33.33%; /* 100% / 12 times 4 */
  }

  .col-5 {
    width: 41.66%; /*100% / 12 times 5*/
  }

  .col-6 {
    width: 50%; /*100% / 12 times 6*/
  }

  .col-7 {
    width: 58.33%; /*100% / 12 times 7*/
  }

  .col-8 {
    width: 66.66%; /*100% / 12 times 8*/
  }

  .col-9 {
    width: 75%; /*100% / 12 times 9*/
  }

  .col-10 {
    width: 83.33%; /*100% / 12 times 10*/
  }

  .col-11 {
    width: 91.66%; /*100% / 12 times 11*/
  }

  .col-12 {
    width: 100%; /*100% / 12 times 12*/
  }

}